{% extends 'base.html' %}
{% block title %}
    Проверка статуса заказов
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3" style="top: 200px;">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Просмотр данных по периодам</h5>
          <p class="card-text">Далее доступна общая информация по периодам.</p>
          <a href="{% url 'orders:years_list' %}" class="btn btn-primary">Выбрать период</a>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Загрузка данных</h5>
          <p class="card-text">Для загрузки данных приведите данные к требуемым форматам.</p>
          <a href="{% url 'orders:upload' %}" class="btn btn-primary">Загрузить данные</a>
        </div>
      </div>
    </div>
    <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Работа с данными</h5>
            <p class="card-text">Выгрузка данных доступно по фильтру и без.</p>
            <a href="{% url 'orders:download' %}" class="btn btn-primary">Выгрузить данные</a>
          </div>
        </div>
    </div>
</div> 
{% endblock %}  
